*{
    box-sizing: border-box;
}

body{
    background-color: #ffe0b2;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.txt-white{
    color: white;
}

.txt-right{
    float: right;
}

.txt-center{
    text-align: center;
}

.txt-decoration{
    text-decoration: line-through;
}

.font-wt{
    font-weight: bold;
}

.container{
    width:50%;
    margin: 2rem auto;
}

.main{
    background-color: #ff8a65;
    padding: 1rem 2rem;
}

.main p textarea{
    display: block;
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
    resize: none;
    font-size: 1rem;
}

.main p::first-letter{
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    height: 2rem;
    width: 6rem;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


table{
    border-collapse: collapse;
    margin: 1rem 0;
    width: 100%;
}
  
td{
    padding: 8px;
    text-align: left;
}

tr{
    border-bottom: 1px solid #3e2723;
}

tr:hover{
    background-color: rgb(248, 255, 148);
}

td::first-letter{
    text-transform: uppercase;
}